{% extends 'base.html.twig' %}


    {% block stylesheets %} 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    {% endblock %}



{% block body %}

<div class="container fluid">
    <div class="col text-center titre"> 

        <h1>Liste des Annonces</h1>
    </div>
    
    <div class='col col-xs-12'>
        <table id="malist" class="table" >
            <thead>
                <tr>
                    <th>N°Annonce</th>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th>Nb pièce</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td><a href="{{ path('admin_annonce_show', { 'id': annonce.id }) }}">{{ annonce.titre }}</a></td>
                    <td>{{ annonce.prix }}</td>
                    <td>{{ annonce.nbrePiece }}</td>
                    <td><img class="img-rounded" src="{{ vich_uploader_asset(annonce, 'imageFile') }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}

    {% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script> 
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
    $('#malist').DataTable();
} );
</script>
    {% endblock %}


