{% extends 'base.html.twig' %}

{% block body %}
<div class="container fluid">
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('admin_annonce_index') }}">Retour à la liste des annonces</a>
        </li>
    </ul>

<div class="col text-center titre">
    <h1><div class="col text-center titre">Détail de l'Annonce</h1>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Nbrepiece</th>
                <td>{{ annonce.nbrePiece }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img class='img-rounded' src='{{ vich_uploader_asset(annonce, 'imageFile') }}'></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
        </tbody>
    </table>
</div>

    {% endblock %}
    